<div class="stages">
	<div class="container-fluid">
		<div class="row row_nav">
			<div class="col-xs-offset-1 col-xs-3 col-sm-offset-1 col-sm-3 stage stage1" onclick="JumpTo(this,'pre_apply_upload.html');">
				<h4 class="text-center">预审批</h4>
				<div class="t"></div><div class="b"></div><div class="d"></div>
			</div>
			<div class="col-xs-3 col-sm-3 stage stage2" onclick="JumpTo(this,'pre_apply_paperlist.html')">
				<h4 class="text-center">正式审批</h4>
				<div class="t"></div><div class="b"></div><div class="d"></div>
			</div>
			<div class="col-xs-3 col-sm-3 stage stage3" onclick="JumpTo(this,'pre_apply_contract.html')">
				<h4 class="text-center">签订合同</h4>
				<div class="t"></div><div class="b"></div><div class="d"></div>
			</div>
		</div>
	</div>
	<div class="baseline baseline-left"></div>
	<div class="baseline baseline-right"></div>
</div>
<div class="steps s1_steps">
	<div class="container-fluid">
		<div class="row row_nav">
			<div class="col-xs-offset-1 col-xs-3 col-sm-2 col-sm-offset-2 step step1" onclick="JumpTo(this,'pre_apply_upload.html')">
				<h6 class="text-center">上传证件图片</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
			<div class="col-xs-3 col-sm-2 step step2" onclick="JumpTo(this,'pre_apply_inputs.html')">
				<h6 class="text-center">预审批录入</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
			<div class="col-xs-3 col-sm-2 step step3" onclick="JumpTo(this,'pre_apply_recommend.html')">
				<h6 class="text-center">预审批结果</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
		</div>
	</div>
	<div class="baseline baseline-left"></div>
	<div class="baseline baseline-right"></div>
</div>
<div class="steps s2_steps">
	<div class="container-fluid">
		<div class="row row_nav">
			<div class="col-xs-2 col-xs-offset-2 col-sm-2 col-sm-offset-2 step step1" onclick="JumpTo(this,'pre_apply_paperlist.html')">
				<h6 class="text-center">金融资产信息</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
			<div class="col-xs-2 col-sm-2 step step2" onclick="JumpTo(this,'pre_apply_coborrow.html')">
				<h6 class="text-center">申请人相关信息</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
			<div class="col-xs-2 col-sm-2 step step3" onclick="JumpTo(this,'pre_apply_validation.html')">
				<h6 class="text-center">信息验证</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
			<div class="col-xs-2 col-sm-2 step step4" onclick="JumpTo(this,'pre_apply_submitsuccess.html')">
				<h6 class="text-center">提交成功</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
		</div>
	</div>
	<div class="baseline baseline-left"></div>
	<div class="baseline baseline-right"></div>
</div>
<div class="steps s3_steps">
	<div class="container-fluid">
		<div class="row row_nav">
			<div class="col-xs-2 col-xs-offset-5 col-sm-2 col-sm-offset-5 step step1" onclick="JumpTo(this,'pre_apply_contract.html')">
				<h6 class="text-center">打印合同</h6>
				<div class="ball"></div><div class="d"></div>
			</div>
		</div>
	</div>
	<div class="baseline baseline-left"></div>
	<div class="baseline baseline-right"></div>
</div>
<div class="fixed_top_stage_step"></div>