<div class="panel panel-primary notice">
	<div class="panel-heading">
		<h3 class="panel-title pull-left">通知</h3>
		<span class="close pull-right"><img src="img/close3.png" alt=""></span>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			<div class="media">
				<div class="media-left"><img src="img/usericon.png" alt="" class="media-object img-circle"></div>
				<div class="media-body">
					<h4 class="media-heading">主题：<span>上传不了图片</span></h4>
					<p>发表时间：<span>2016-11-22 20:30:45</span></p>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="media">
				<div class="media-left"><img src="img/usericon.png" alt="" class="media-object img-circle"></div>
				<div class="media-body">
					<h4 class="media-heading">主题：<span>无法提交</span></h4>
					<p>发表时间：<span>2016-11-22 20:30:45</span></p>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="media">
				<div class="media-left"><img src="img/usericon.png" alt="" class="media-object img-circle"></div>
				<div class="media-body">
					<h4 class="media-heading">主题：<span>显示异常</span></h4>
					<p>发表时间：<span>2016-11-22 20:30:45</span></p>
				</div>
			</div>
		</li>
		<li class="list-group-item">
			<div class="media">
				<div class="media-left"><img src="img/usericon.png" alt="" class="media-object img-circle"></div>
				<div class="media-body">
					<h4 class="media-heading">主题</h4>
					<p>发表时间：<span>2016-11-22 20:30:45</span></p>
				</div>
			</div>
		</li>
	</ul>
</div>