<div class="pull-left sidebar">
	<ul class="list-unstyled">
		<li class="text-center"><a href="pre_dashboard_index.html">
			<img src="img/dashboard.png" alt="" class="icon">
			<h6 class="caption">仪表板</h6></a>
		</li>
		<li class="text-center"><a href="pre_apply_upload.html">
			<img src="img/newaply.png" alt="" class="icon">
			<h6 class="caption">新应用</h6></a>
		</li>
		<li class="text-center"><a href="pre_controlpanel_list.html">
			<img src="img/controlpanel.png" alt="" class="icon">
			<h6 class="caption">控制面板</h6></a>
		</li>
	</ul>
</div>