<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="/resources/asset/common/styles/kendo.common.min.css"
          th:href="@{/resources/asset/common/styles/kendo.common-material.min.css}"/>
    <link rel="stylesheet" href="/resources/asset/common/styles/kendo.default.min.css"
          th:href="@{/resources/asset/common/styles/kendo.material.min.css}"/>
    <link rel="stylesheet" href="/resources/asset/common/styles/kendo.material.mobile.min.css"
          th:href="@{/resources/asset/common/styles/kendo.material.mobile.min.css}"/>

    <script src="/resources/asset/js/jquery.min.js" th:src="@{/resources/asset/common/js/jquery.min.js}"></script>
    <script src="/resources/asset/js/kendo.all.min.js" th:src="@{/resources/asset/common/js/kendo.all.min.js}"></script>
    <script th:src="@{/resources/asset/common/js/cultures/kendo.culture.zh-CN.min.js}"></script>
    <script th:src="@{/resources/asset/common/js/messages/kendo.messages.zh-CN.min.js}"></script>
    <script th:src="@{/resources/asset/ts/node_modules/moment/moment.js}"></script>
    <script th:src="@{/resources/asset/ts/src/model.bundle.js}"></script>
    <script th:src="@{/resources/asset/ts/src/sample.bundle.js}"></script>
    <script th:src="@{/resources/asset/ts/src/apply.js}"></script>

    <script type="text/javascript">
        kendo.culture("zh-CN");
    </script>
</head>
<body>

<!--/*@thymesVar id="borrower" type="com.gsafc.site.model.customer.Person"*/-->
<form id="employeeForm" name="employeeForm">
    <ul id="fieldlist">
        <li>
            <label>姓名:</label>
            <input type="text" class="k-textbox" name="customerName"
                   th:value="${borrower.customerName}" validationmessage="请输入姓名"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" />
            <input type="hidden" name="relationType" id="relationType" th:value="${borrower.relationType}" />
        </li>
        <li>
            <label>证件类型:</label>
            <input name="cardType" th:value="${borrower.cardType}"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" validationmessage="请选择证件类型" />
        </li>
        <li>
            <label>证件号码:</label>
            <input type="text" class="k-textbox" id="cardNumber"
                   th:value="${borrower.cardNumber}" validationmessage="请输入证件号码"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" />
        </li>
        <li>
            <label>证件到期日:</label>
            <input name="expirationDate" th:value="${borrower.expirationDate}"
                   validationmessage="请输入证件到期日"
                   style="width: 350px; height: 40px; margin: 0px;" required="required"  title="请输入证件到期日"/>
        </li>
        <li>
            <label>手机号码:</label>
            <input type="text" name="borrower.mobileNumber"
                   th:value="${borrower.mobileNumber}" validationmessage="请输入手机号码"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" title="请输入手机号码" />
            <!--<span data-for="mobileNumber" class="k-invalid-msg"></span>-->
        </li>
        <li>
            <label>手机号码:</label>
            <input type="text" name="coBorrower.mobileNumber"
                   th:value="${borrower.mobileNumber}"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" title="请输入手机号码" />
            <!--<span data-for="mobileNumber" class="k-invalid-msg"></span>-->
        </li>
        <li>
            <label>手机号码:</label>
            <input type="text" name="guarantee.mobileNumber"
                   th:value="${borrower.mobileNumber}"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" title="请输入手机号码" />
            <!--<span data-for="mobileNumber" class="k-invalid-msg"></span>-->
        </li>
        <li>
            <label>手机号码:</label>
            <input type="text" name="contact1.mobileNumber"
                   th:value="${borrower.mobileNumber}"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" title="请输入手机号码" />
            <!--<span data-for="mobileNumber" class="k-invalid-msg"></span>-->
        </li>
        <li>
            <label>手机号码:</label>
            <input type="text" name="contact2.mobileNumber"
                   th:value="${borrower.mobileNumber}"
                   style="width: 350px; height: 40px; margin: 0px;" required="required" title="请输入手机号码" />
            <!--<span data-for="mobileNumber" class="k-invalid-msg"></span>-->
        </li>
        <li class="actions">
            <!--<button type="button" data-role="button" data-sprite-css-class="k-icon k-i-tick" data-click="save">Save</button>-->
            <button class="k-button k-primary k-i-tick" onclick="save()">Save</button>
        </li>
    </ul>
</form>

<input type="hidden" name="mobileMessage" value="手机号码出现重复" />

<script type="text/javascript">
    $.fn.extend({
        validationMessage: function (message) {
            this.attr("validationmessage", message);
        }
    });
    
    /**
     * 判断字符串中是否包含待搜索的字符串。
     *
     * @param searchValue 待搜索的字符串。
     * @returns {boolean} 包含时返回true，不包含时返回false。
     */
    String.prototype.contains = function (searchValue) {
        if (this !== void 0) {
            return this.indexOf(searchValue) >= 0;
        }
        return false;
    };

    /**
     * 替换字符串中所有的字符串。
     *
     * @param searchValue 待搜索的字符串。
     * @param replaceValue 替换的字符串。
     * @returns {String} 替换后的字符串。
     */
    String.prototype.replaceAll = function (searchValue, replaceValue) {
        if (this !== void 0) {
            return this.replace(new RegExp(searchValue, "gm"), replaceValue);
        }
        return this;
    };

    $(function () {
        let result = null;
        $.ajax({
            type: "get",
            url: "/apply/findPersons",
            data: {appId: "00001"},
            async: false,
            success: function (data) {
                result = data;
            }
        });

        $("input[name='cardType']").kendoDropDownList({
            optionLabel: "--请选择--",
            dataTextField: "description",
            dataValueField: "code",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/param/cardType?contentType=json",
                    }
                }
            },
            change: function (input) {
                let $cardNumber = $("input[name=cardNumber]").val("");
                if (this.value() == "") {
                    $cardNumber.attr("disabled", "disabled");
                } else {
                    $cardNumber.removeAttr("disabled");
                    if (this.value() != "") {
                        $cardNumber.removeAttr("maxlength");
                    }
                    if (this.value() == "01") {
                        $cardNumber.attr("maxlength", 18);
                    }
                }
            },
            index: 0
        });

        $("input[name='expirationDate']").kendoDatePicker({
            start: "decade",
            format: "yyyy-MM-dd"
        });

        ["borrower", "coBorrower", "guarantee", "contact1", "contact2"].forEach(function (personType) {
            $("input[name='" + personType + ".mobileNumber']").kendoMaskedTextBox({
                mask: "999 9999 9999"
            })
        });

        //kendo.init(container);
        $("form[name='employeeForm']").kendoValidator({
            messages: {
                //card: "身份证号码不正确",
                email: function (input) {
                    return getMessage(input);
                }
            },
            rules: {
                card: function (input) {
                    if (input.is("[name=cardNumber]")) {
                        if ($("input[name='cardType']").val() === "01") {
                            let valid = true;
                            $.ajax({
                                url: "/valid/identity/" + $("input[name='cardNumber']").val(),
                                type: "GET",
                                async: false,
                                success: function (data) {
                                    valid = data.valid;
                                }
                            });
                            if (valid === false) {
                                input.validationMessage("请输入正确的身份证号码");
                            }
                            return valid;
                        }
                    }
                    return true;
                },
                mobile: function (input) {
                    if (input.is(function () {
                        return /^\w+.mobileNumber$/.test(input.attr("name"));
                    })) {
                        let number = input.val().replaceAll("_", "").replaceAll(" ", "");
                        let valid = /^1[34578]\d{9}$/.test(number);
                        if (!valid) {
                            input.validationMessage("手机号码格式不正确");
                        }
                        return valid;
                    }
                    return true;
                },
                notEqual: function (input) {
                    if (input.attr("name").contains("mobileNumber")) {
                        let valid = validate(input.attr("name"));
                        if (!valid) {
                            input.validationMessage("手机号码不能相同");
                        }
                        return valid;
                    }
                    return true;

                    // 验证手机号码是否重复。true - 没有重复，false - 有重复。
                    function validate(name) {
                        let result = true;
                        let data = [];
                        ["borrower", "coBorrower", "guarantee", "contact1", "contact2"].forEach(function (personType) {
                            let inputName = personType + ".mobileNumber";
                            if (inputName !== name) {
                                data.push($("input[name='" + inputName + "']").val());
                            }
                        });
                        data.forEach(function (value) {
                            if ($("input[name='" + name + "']").val() === value) {
                                result = false;
                            }
                        });
                        return result;
                    }
                }
            }
        });

        function getMessage(input) {
            return input.data("message");
        }

        function getRequiredMessage(input) {
            if (input.is("[name=customerName]")) {
                return "姓名不能为空";
            }
            else {
                let text = input.prev().text();
                return text.substring(0, text.lastIndexOf(":")) + "不能为空";
            }
        }
    });

    function save(e) {
        let validatable = $("#employeeForm").kendoValidator().data("kendoValidator");
        if (validatable.validate() === true) {
            //alert("Employee Saved");
        } else {
            //alert("Don't Save : " + validatable.errors());
        }
    }
</script>

<style>
    input {
        width: 350px;
        height: 30px;
    }

    #fieldlist {
        margin: 0 0 -2em;
        padding: 0;
    }

    #fieldlist li {
        list-style: none;
        padding-bottom: 2em;
    }

    #fieldlist label {
        display: block;
        padding-bottom: 1em;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;
        color: #444;
    }

    #fieldlist input {
        width: 100%;
    }

    span.k-tooltip {
        /*margin-top: 5px;*/
        /*line-height: 1.7em;*/
        width: 350px;
        height: 20px;
        /*box-sizing: border-box;*/
        /*text-align: left;*/
    }
</style>
</body>
</html>