html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font-family:"微软雅黑","Hiragino Sans GB","Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
	color:#425968;
}
body *:focus{
	outline:none;
	box-shadow: none;
}
/*输入框*/
.input::-webkit-input-placeholder{
	color:#A7A9AC!important;
	font-size:14px;
}
.input::-moz-placeholder{
	color:#A7A9AC!important;
	font-size:14px;	
}
.input{
	color:#425968;
	font-size:14px;
	box-shadow: none;
}
.input:focus{
	box-shadow:none;
	outline:none;
}
.input-group-addon{
    background-color: #e4e4e4;
    border:0;
	color:#a7a9ac;
}

.form-group label.btn{
	background-color: #f0f0f0;
    box-shadow: none;
    border-color: #d6d3d4;
}
.form-group label:not(.control-label){
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #a7a9ac;
    font-size:14px;
}


/* 标准下拉列表框*/
.select{
	background-color:#f0f0f0;
	border:0;
	height:40px;
	font-size:14px;
	color:#a7a9ac;
	box-shadow: none;
	outline: none;
	text-align: left;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;  
}
.select:focus{
	box-shadow:none;
	outline:none;
}
.select::-ms-expand {display: none;} 
.select option{
	background-color:#fff;
	font-size:14px;
	color:#425968;
	font-weight: normal;
	height:40px;				   /* 仅支持Firefox  */
	padding:10px 15px; 			   /* 仅支持Firefox  */
	border:0;					   /* 仅支持Firefox  */
}
.select option:first-child{
	display:none;   
/*  由于select的holder框默认显示第一项，且是可见的，第一项被设置为灰色，
	这里的display不显示只能限制弹出框的第一项不显示，holder框还是显示的
	另外，弹出框不显示不代表不存在,后端作为数据项还是有值的		
*/
	color:#B6B8BA;
}
.select option:hover{  /*  仅支持IE10及以上版本  */
	background-color:#D6D3D4;
}

/* 备用下拉列表--外框套图标 */
.sel{
	position: relative;
	display: block;
}
.sel::after{
	content:"\25bc";
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	width:30px;
	text-align:center;
	line-height:40px;
	font-size:14px;
	color:#425968;
}


/* 模态框背景 */
.modal-backdrop.in {
    filter: alpha(opacity=70);
    opacity: .7;
}
.modal .modal-dialog{
	margin-top:80px;
}
.modal .img_close{
	position: absolute;
    top: -20px;
    right: -20px;
    cursor: pointer;
}
@media (min-width:768px){
	.modal .table>tbody>tr>td,.modal .table>tbody>tr>th{
		padding:8px 0;
	}
}
@media (min-width:992px){
	.modal .table>tbody>tr>td,.modal .table>tbody>tr>th{
		padding:8px;
	}
}


/* 插件下拉列表--修正样式  start */

/*插件下拉列表--组件外框*/
.searchable-select {
    display: block;
}
/* 插件下拉列表--holder框 */
.searchable-select-holder {
	display: block;
	width: 100%;
    height: 40px;
    background-color:#f0f0f0;  /* f0f0f0 */
    border:0;
    padding: 6px 12px;
    font-size: 14px;
    font-weight:normal;
    line-height: 2;
    color: #a7a9ac;  /* a7a9ac  */
    box-shadow: none;
	outline: none;
	text-align: left;
	vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* 插件下拉列表--popup大外框 */
.searchable-select-dropdown {
    border:0; /*border: 0;  */
    padding: 0;
    top: 40px;
    z-index:10;
    -moz-box-shadow: 0px 0px 8px #f0f0f0,0px 0px 8px #f0f0f0,0px -10px 0px #f0f0f0,0px 0px 10px rgba(100,100,100,.8);
    -webkit-box-shadow: 0px 0px 8px #f0f0f0,0px 0px 8px #f0f0f0,0px -10px 0px #f0f0f0,0px 0px 10px rgba(100,100,100,.8);
    box-shadow: 0px 0px 8px #f0f0f0,0px 0px 8px #f0f0f0,0px -10px 0px #f0f0f0,0px 0px 10px rgba(100,100,100,.8);
}
/* 插件下拉列表--option列表选项框【未选中】 */
.searchable-select-item {
    padding: 6px 12px;
    height:40px;
    line-height:2;
}
/* 插件下拉列表--option列表选项框【已选中】 */
.searchable-select-item.selected {
    background: #d6d3d4;
    color: #425968;
}
/* 插件下拉框最大高度 */
.searchable-select-items{
	max-height:220px; 
	overflow-y: auto;
}
/*  popup框与holder框之间的距离  */
.searchable-scroll{
	margin-top: 0px; 
}

/*隐藏下拉图标和搜索框*/
.searchable-select-caret {display:none; }
.searchable-select-input {display:none; }

/* 插件下拉列表--修正样式  end */


/* 修正下拉三角箭头位置 */
.form-control-feedback img[src$='sel.png']{
	position:absolute;
	left:10px;
	top:12px;
}



/* panel面板主题色 */
.panel.panel-theme1{
	border-color: #ba8748;
}
.panel.panel-theme1>.panel-heading {
    color: #fff;
    background-color: #ba8748;
    border-color: #ba8748;
}

.panel.panel-theme2{
	border-color: #425968;
}
.panel.panel-theme2>.panel-heading {
    color: #fff;
    background-color: #425968;
    border-color: #425968;
}

.panel.panel-theme3{
	border-color: #fdb930;
}
.panel.panel-theme3>.panel-heading {
    color: #fff;
    background-color: #fdb930;
    border-color: #fdb930;
}



/* 按钮button主题色 */
.btn.btn-theme1{
	color: #fff;
    background-color: #ba8748;
    border-color: #ab6735;
    border-radius: 20px;
}
.btn.btn-theme1:hover{
	color:;
	background: #ab6735;
}
.btn.btn-theme2{
	color: #fff;
    background-color: #425968;
    border-color: #364a56;
    border-radius: 20px;
}
.btn.btn-theme2:hover{
	background: #364a56;
}
.btn.btn-theme3{
	color: #fff;
    background-color: #fdb930;
    border-color: #ecb444;
    border-radius: 20px;
}
.btn.btn-theme3:hover{
	background: #ecb444;
}
.btn.btn-theme4{
	color: #fff;
    background-color: #ba8748;
    border-color: #fff;
    border-radius: 20px;
}
.btn.btn-theme4:hover{
	background: #ab6735;
}

.btn.btn-theme5{
	color: #fff;
    background-color: #a7a9ac;
    border-color: #fff;
    border-radius: 20px;
}
.btn.btn-theme5:hover{
	background: #e6e6e6;
	color:#a7a9ac;
}



/* 提交按钮样式 */
.pre_apply .main button.submit.active {
    background-color: #fdb930;
    color: #fff;
    border: 0;
    box-shadow: none;
}

.pre_apply .main button.submit {
    margin-top: 50px;
    background-color: #f0f0f0;
    width: 200px;
    border-radius: 20px;
    color: #B6B8BA;
    font-size: 14px;
}
.pre_apply .main button.submit:focus{
	outline:none;
}
.pre_apply .main .later{
	margin-top:15px;
	margin-bottom:150px;
}
.pre_apply .main .later>a{
	font-size:12px;
	color:#B6B8BA;
	text-decoration: underline;
}


/*  form表单公共样式 start */
.pre_apply .main .page-header{
	padding-left:15px;
	padding-right:15px;
	margin-top:35px;
	margin-bottom:0;
	border-bottom:0;
}
.pre_apply .main .page-header h3{
	margin-bottom:0;
}
.pre_apply .main .page-header-small{
	padding:10px 0 10px 20px;
	margin:10px 0;
	font-size:16px;
	border-bottom:1px solid #ccc;
}
.pre_apply .main .form-group{
	margin-bottom:8px;
}

.pre_apply .main .form-group .control-label{
	font-size:12px;
	font-weight:normal;
	color:#a7a9ac;
	padding-left:14px;
}
.pre_apply .main .form-group .form-control{
	height:40px;
}
.pre_apply .main .form-group .form-control-feedback{
	right:15px;
}
.pre_apply .main .form-group span.help-block{
	margin-bottom:0;
	font-size:12px;
	padding-left:14px;
}
.pre_apply .main .form-group .input{
	background-color:#f0f0f0;
	border:0;
}

.pre_apply .main .has-error .form-control {
    border:1px solid #d0021b;
/*    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    box-shadow:none;
}
.pre_apply .main .has-error .form-control-feedback {
    color: #d0021b;
}
.pre_apply .main .has-error .help-block{
	color: #d0021b;
}
/*  form表单公共样式 end */

/*  验证标签图片样式  */
.validator-ok{
	background:url(../img/suc.png);
	height:20px;
	width: 20px;
}
.validator-remove{
	background:url(../img/err.png);
	height: 20px;
	width: 20px;
}
.pre_apply .main .form-group .validator-ok,.pre_apply .main .form-group .validator-remove{
	top:36px;
	right:22px;
}




/* 提示框样式  */
.tooltip{
	/*box-shadow:0 5px 10px rgba(0,0,0,.2);*/
}
.tooltip.right{
	padding-left:10px;
	padding-right:0;
}
.tooltip-inner{
	color:#425968;
	background-color: #f8f8f8;
	padding:18px;
	font-size:14px;
	line-height: 22px;
	/*box-shadow:0 5px 10px rgba(0,0,0,.2);*/
}
.tooltip-inner .tip_close{
	position:absolute;
	top:4px;
	right:4px;
}
.tooltip.right .tooltip-arrow{
	border-right-color: #f8f8f8;
	border-width:8px 10px 8px 0;
	margin-top:-10px;
}


/* 弹出框样式  */
.popover{
	padding:0;
	border:0;
}
.popover-content{
	background-color:#f7f9fb;
	padding:15px;
	color:#425968;
	font-size:14px;
	line-height:22px;
}
.popover.right .arrow{
	border-right:0;
}
.popover.right .arrow:after{
	border-right-color:#f7f9fb;
}
.popover-content .tip_close{
	position:absolute;
	top:5px;
	right:5px;
}
.popover .popover-title span{
	cursor: pointer;
}

/* 右上角消息弹窗 */
.panel.notice{
	width:70%;
	height:400px;
	position:fixed;
	right:-70%;
	top:70px;
	z-index:1031;
	overflow:hidden;
	display:block;
}
@media(min-width:768px){
	.panel.notice{
		width:350px;
		right:-350px;
	}
}
.panel.notice *{color: #fff;}
.panel.notice .panel-heading{
	position:absolute;
	top:0;
	right:0;
	z-index:101;
	width:100%;
	height:40px;
	overflow:hidden;
	background-color: #425968;
	border:0;
	box-shadow: 0 1px 1px #333;
}
.panel.notice .list-group{
	margin-top:39px;
	height:360px;
	overflow:auto;
	background-color: #2f4656;
}
.panel.notice .list-group .list-group-item{
	background-color: #2f4656;
	border: 1px solid #999;
	cursor:pointer;
}
.panel.notice .list-group .list-group-item:hover{
	background-color: #ba8748;
	border:0;
}
.panel.notice .list-group .list-group-item .media-left img{
	width:30px;
	height:30px;
}
@keyframes rule_shownotice{
	from{
		right:-70%;
	}
	to{
		right:0px;
	}
	@media(min-width:768px){
		from{
			right:-350px;
		}
		to{
			right:0px;
		}
	}
}
@keyframes rule_hidenotice{
	from{
		right:0px;
	}
	to{
		right:-70%;
	}
	@media(min-width:768px){
		from{
			right:-350px;
		}
		to{
			right:0px;
		}
	}
}
.shownotice{
	animation:rule_shownotice 2s;
	animation-fill-mode:forwards;
}
.hidenotice{
	animation:rule_hidenotice 2s;
	animation-fill-mode:forwards;
}